.header {
    margin-top: 50px;
    position: relative;
    height: 120vh;
}

.header-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", "serif";
    color: #444;
}

.header-title-small {
    position: absolute;
    top: 80px;
    font-size: 30px;
}

.header-title-large {
    position: absolute;
    top: 120px;
    font-size: 100px;
}

.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-button {
    position: absolute;
    bottom: 10%;
    left: 20px;
    margin: auto;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: teal;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

@media (max-width: 800px) {
    .header-titles {
        display: block;
    }

    .header-img {
        height: 60vh;
    }

    .header-title-small , 
    .header-title-large {
        padding-left: 30px;
    }
}
